# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Node.js
app/node_modules/
app/npm-debug.log

# OS
.DS_Store
